body{
    background-color: #003399;
}
hr{
    background-color: #FFCC00;    
}
#form{
    background-color: #FFCC00;
}
h1{
    background-color: #FFCC00;
}
.painelResultado{
    background-color: azure;
margin-top: 80px;
margin-left: 30px;
margin-right: 30px;

}
#nome{
    margin-left: 50px;
}
#ano{
    margin-left: 61px;
}
#cor{
    margin-left: 65px;
}
#custo{
    margin-left: 4px;
}
#placa{
    margin-left: 55px;
}