body{
    background-color: #003399;
}
hr{
    background-color: #FFCC00;    
}
#form{
    background-color: #FFCC00;
}
h1{
    background-color: #FFCC00;
}
.painelResultado{
    background-color: azure;
margin-top: 80px;
margin-left: 30px;
margin-right: 30px;

}
#input-nome{
    margin-left: 10px;
}
#input-ano{
    margin-left: 21px;
}
#input-cor{
    margin-left: 25px;
}
#input-custo{
    margin-left: 12px;
}
#input-placa{
    margin-left: 14px;
}